body {
    background-color: cyan;
    text-align: center;
}

img {
    width: 400px;
    padding-bottom: 50px;
    padding-right: 50px;
}

#img2 {
    width: 350px;
}

#h1 {
    font-size: 40px;
    color: gold;
    background-color: black;
}

#h2 {
    font-size: 25px;
    color: aqua;
    background-color: black;
}
#p1{
    font-size: 25px;
    text-align: right;
    color: darkgreen;
    font-variant: small-caps;
    
}
